<div class="fixed">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">ProgressionWizard</a>
      </div>

      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/chord-identifier" class="hover">Chord Identifier</a>
        </li>
        <li routerLinkActive="active" *ngIf="isSignedIn">
          <a class="hover" routerLink="/songs">My Songs</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a
            style="cursor: pointer"
            class="dropdown-toggle your-account"
            role="button"
            >Your Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" *ngIf="!isSignedIn">
            <li>
              <a style="cursor: pointer" routerLink="/auth">Sign In</a>
            </li>
          </ul>
          <ul class="dropdown-menu" *ngIf="isSignedIn">
            <li>
              <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
