.back {
  position: fixed;
  display: flex;
  flex-direction: row;
}

.card {
  position: sticky;
  align-self: center;
  margin-left: 0em;
  padding: 2em;
  max-width:max-content;
  min-width: 278px;
  border-radius: 3%;
  box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2) ;
}

button {
  margin: 0.5rem 0;
}

.song-info {
  padding: 2rem;
}

.song-title{
  color: rgb(73, 72, 72);
}

.song-chords {
  color: gray;
}

.delete {
  border: 2px solid purple;
  background-color: white;
  color: purple;
}

.edit {
  background-color: purple;
  color:white;
}

