<div class="container">
  <div class="row">
    <h2>My Songs:</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-6">
      <span *ngIf="loadedSongs.length < 1">
        <p>No Songs Available</p>
      </span>
      <ul class="list-group">
        <a class="list-group-item" *ngFor="let song of loadedSongs">{{
          song.chords
        }}</a>
      </ul>
    </div>
    <!-- <div class="col-xs-6">
      <div class="container">
        <app-my-song-display></app-my-song-display>
      </div>
    </div> -->
  </div>
</div>
