  .container {
    position: relative;
  }

  input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 2em;
  margin-right: 2em;
  font-size: large;
  width: 50%;
  display: flex;
  text-align: center;
}

button {
  margin: 1em 1em;
}

input.ng-invalid.ng-touched {
  border: solid red 1px;
}

.help-block {
  color: red;
}

button.add {
  background-color: var(--var-blue);
  color: white;
}

button.reset {
  border: 2px solid var(--var-blue);
  color: var(--var-blue);
  background-color: white;

}

button.submit {
  background-image: var(--gradient);
  color: white;
}

button.remove {
  border: 2px solid var(--var-green);
  color: var(--var-green);
  background-color: white;

}
