<hr />
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="lead">Your Chords:</h3>

      <!-- BEGIN FORM -->
      <form #songForm="ngForm" (ngSubmit)="onSaveSong(songForm)">
        <div class="container display">
          <div class="row">
            <div class="col-xs-12">
              <!-- SONG TITLE INPUT -->
              <div
                class="col-xs-8 form-group"
                *ngIf="chordDisplayed && !songSaved"
              >
                <label for="songTitle">Song Title: {{ songTitle }}</label>
                <input
                  type="text"
                  name="songTitle"
                  id="songTitle"
                  class="form-control"
                  placeholder="Enter Your Song Title Here!"
                  [(ngModel)]="songTitle"
                />
              </div>

              <!-- END FORM -->

              <!-- NgIF TEXT -->
              <span *ngIf="!chordDisplayed && !songSaved">
                <h3 class="text">Display Your Song Here!</h3>
              </span>

              <!-- SONG ADDED! ALERT -->
              <div
                class="alert alert-success alert-dismissable"
                role="alert"
                *ngIf="songSaved"
              >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  (click)="onCloseAlert()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Song Added!</strong>
              </div>

              <!-- DISPLAY CHORDS -->
              <div class="col-xs-10" *ngIf="!songSaved">
                <ul class="list-group chords" *ngFor="let chord of allChords">
                  <li class="chord list-group-item">{{ chord }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- BUTTONS -->
        <div class="row">
          <div class="col-xs-12 btn-group align-right">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!chordDisplayed"
            >
              Save Song
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteSong()"
              [disabled]="!chordDisplayed"
            >
              Delete Song
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
