div.container.list-group-item {
  height: 379px;
  margin-bottom: 50px;
}

button {
  margin-right: 5px;
  margin-bottom: 25px;
}

.display {
  box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2);
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  height: 25em;
  margin-left: -0.75em;
  background-color: white;
  overflow-y: scroll;
}

.chord{
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12),
  0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;
  color: purple;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6em;
  width: 6em;
  padding: 12px 22px;
  margin: 18px 10px 24px 10px;
  font-size: 2.23rem;
}

.chords {
  display: inline;
  float: left;
}

.text {
  text-align: center;
}

.alert {
  margin-top: 1.5rem;
}

button.submit {
  background-color: purple;
  color: white;
}

button.delete {
  border: 2px solid darkgray;
  color: darkgray;
  background-color: white;
}
