<div class="container-fluid card text-center">
  <div class="text">
    <h2 class="lead your-chord p-3">Your chord:</h2>
    <div class="chord-box">
      <h2 class="your-chord text-center">{{ yourChord }}</h2>
    </div>
  </div>
  <div class="container btn-group">
    <button
      class="btn save"
      (click)="onSaveChord()"
      [disabled]="yourChord === '' || null"
    >
      Save Chord
    </button>
    <button
      class="btn delete"
      (click)="onDeleteChord()"
      [disabled]="yourChord === '' || null"
    >
      Delete Chord
    </button>
  </div>
</div>
<!-- <hr /> -->
