<div class="container-fluid chord-identifier">
  <div class="row">
    <h2 class="title">Chord Identifier:</h2>
    <h6 class="description">
      Enter at least three notes into the input boxes and let Tonal API read
      your chord. Choose whether to save your chord to your song, or delete and
      start over.
    </h6>
    <hr />
  </div>
  <div class="row key">
    <div class="col-xs-6">
      <app-key></app-key>
    </div>
  </div>

  <span *ngIf="chordNotFound">
    <div class="alert alert-danger" role="alert">
      <h5>CHORD NOT FOUND FOR: {{ invalidNotes }}</h5>
      <p>
        Important Note: Just because our system doesn't have a name for your
        chord, doesn't mean it does not exist. If it sounds good, it is good!
      </p>
      <button class="btn btn-danger alert-btn" (click)="onClosed()">
        Okay!
      </button>
    </div>
  </span>

  <div class="row">
    <div class="col-xs-8">
      <app-my-chords></app-my-chords>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-display-chords></app-display-chords>
    </div>
  </div>
</div>
