<app-alert [alertMsg]="alert" *ngIf="alert"></app-alert>

<div class="container">
  <!-- <div class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5>Log in to save and access your songs</h5>
  </div> -->

  <div class="row">
    <div class="col-xs-6">
      <app-key></app-key>
    </div>
  </div>

  <span *ngIf="chordNotFound">
    <div class="alert alert-danger" role="alert">
      <h5>CHORD NOT FOUND FOR: {{ invalidNotes }}</h5>
      <p>
        Important Note: Just because our system doesn't have a name for your
        chord, doesn't mean it does not exist. If it sounds good, it is good!
      </p>
      <button class="btn btn-danger alert-btn" (click)="onClosed()">
        Okay!
      </button>
    </div>
  </span>

  <div class="row">
    <div class="col-xs-8">
      <app-my-chords></app-my-chords>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-display-chords></app-display-chords>
    </div>
  </div>
</div>
